body {
    font-family: Arial, sans-serif;
    background-color: #024633;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    background: rgb(13, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    padding: 10px;
    background: #e2e3e5;
    border-radius: 4px;
    max-width: 400px;
    width: calc(100% - 40px);
    text-align: center;
}