pylint
streamlit
tensorflow
pytorch
nltk
scikit-learn 
wordcloud
xgboost
torchvision
tensorboard
streamlit-drawable-canvas
spacy
seaborn
pandas 
numpy
matplotlib
mlxtend
keras
joblib 
Flask
Flask-Cors